body{margin:0;background-color:#f0f0f0;}
h1,h2,h3{margin:1em 0;font-size:2.25rem;line-height:1;}
h2{font-size:1.5rem;}
h3{font-size:1.25rem;}
a{color:#006af9;text-decoration:none;}

.wrap{box-sizing:border-box;max-width:800px;margin:0 auto;}
.main .wrap{padding:20px 40px;background-color:#fff;}

header{background-color:#2d2d2d;color:#fff;}
header .wrap{padding:30px 0;}
header h1{margin:0;}

nav{display:flex;text-align:center;}
nav a{position:relative;flex:1;padding:0.5em 0;border-radius:5px;background-color:#eee;
transition:background-color 0.2s;
}
nav a + a{margin-left:1em;}
nav a:hover{background-color:#e0e0e0;}
nav a.active{background-color:#ddd;color:#333;}

fieldset{margin:1em 0;border-color:#ddd;}
fieldset legend{color:#888;font-size:1rem;line-height:2;}
fieldset section + section{margin-top:1em;}
fieldset input,
fieldset select,
fieldset button{padding:0.5em;}

blockquote,
pre{margin:0.5em auto;padding:0.5em 1em;background-color:#eee;color:#888;font-size:0.875rem;}
pre{overflow-x:auto;}

.about{display:flex;}
.about section{flex:1;}
.about section h2{margin-bottom:0;}
.about a:hover{opacity:0.8;}

.acts{font-size:12px;}
.acts a{display:inline-block;padding:0.5em 1em;border-radius:3px;background-color:#eee;color:#888;
transition-property:background-color, color;
transition-duration:0.2s;
}
.acts a:hover{color:#333;background-color:#ddd;}
.acts .group + .group{margin-top:0.5em;}